<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{SERVICE_LABEL}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{BINARY_PATH}}</string>
        <string>--auto</string>
        <string>--threshold</string>
        <string>{{CLEANUP_THRESHOLD}}</string>
        {{SEARCH_PATHS}}
    </array>

    <key>StartInterval</key>
    <integer>{{INTERVAL_SECONDS}}</integer>
    
    <key>StandardOutPath</key>
    <string>{{LOG_PATH}}</string>

    <key>StandardErrorPath</key>
    <string>{{LOG_PATH}}</string>
</dict>
</plist>
